<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/meta') %>
</head>
<body>
    
<header>
  <%-include('./partials/header') %>
</header>
<main>
  <div class="saludo">
    <h2>Bienvenidos a <h1>YourAPIS</h1></h2>
    <div class="links">
      <a type="button" class="btn btn-secondary btn-lg" href="/films">Mira las Peliculas AQUI</a>
      <a type="button" class="btn btn-secondary btn-lg" href="/starWars">Mira Star Wars AQUI</a>
      <a type="button" class="btn btn-secondary btn-lg" href="/clima">Mira el Clima AQUI</a>
    </div>
  </div>
</main>
<footer>
  <%-include('./partials/footer') %>
</footer>
</body>
</html>