<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">YourAPIS</span>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/films">FILMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/starWars">STAR WARS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clima">CLIMA</a>
        </li>
      </ul>
</nav>